<article class="section section-shadow purple mt-lg-5 mt-4" id="about">
    <div class="row">
        <div class="col-md-3 col-8 me-md-auto ms-md-0 mx-auto">
            <img class="img-fluid rounded-circle" src="{{ intro.image }}" alt="{{ intro.imageAlt }}" />
        </div>
        <div class="col-md-9 col-12">
            <h1 class="hero-title dot text-white mt-4 mt-md-0 mb-4">{{ intro.main }}</h1>
                <p class="mb-5 text-white lh-base">{{ intro.summary }}</p>
                <div class="d-grid gap-2 d-md-block">
                    <a href="{{ intro.resumeButtonUrl }}" class="btn btn-primary me-md-3" role="button"
                        target="_blank" rel="noopener"><span class="icon-cloud-download"></span>{{ intro.resumeButtonText }}</a>
                    <a href="{{ intro.contactButtonUrl }}" class="btn btn-outline-light scroll" role="button"><span
                            class="icon-envelope"></span>{{ intro.contactButtonText }}</a>
                </div>
        </div>
    </div>
</article>
