{% set pageTitle = site.name %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

<!-- favivon -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/meta/apple-touch-icon.png?v=7k4LwR2Olv">
<link rel="icon" type="image/png" sizes="32x32" href="/images/meta/favicon-32x32.png?v=7k4LwR2Olv">
<link rel="icon" type="image/png" sizes="16x16" href="/images/meta/favicon-16x16.png?v=7k4LwR2Olv">
<link rel="manifest" href="/images/meta/site.webmanifest?v=7k4LwR2Olv">
<link rel="mask-icon" href="/images/meta/safari-pinned-tab.svg?v=7k4LwR2Olv" color="#5bbad5">
<link rel="shortcut icon" href="/images/meta/favicon.ico?v=7k4LwR2Olv">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">
