{% for item in collections.work %}
<!-- portfolio modal -->
<div class="modal fade portfolio-modal" id="{{ item.data.name }}Modal" tabindex="-1" aria-labelledby="{{ item.data.name }}ModalLabel"
aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="d-inline-flex justify-content-between">
                <h2 class="h1">{{ item.data.title }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- portfolio info -->
            <ul class="list-unstyled portfolio-info mb-5 mt-4">
                <li class="lh-base"><span class="icon-calendar me-3"></span>{{ item.data.date }}</li>
                {% if item.data.link.url %}
                <li class="lh-base"><span class="icon-link me-3"></span><a href="{{ item.data.link.href }}"
                    target="_blank" rel="noopener">{{ item.data.link.url }}</a></li>
                {% endif %}
                {% if item.data.link.github %}
                <li class="lh-base"><span class="icon-folder me-3"></span><a href="{{ item.data.link.gitAddress }}"
                    target="_blank" rel="noopener">{{ item.data.link.github }}</a></li>
                {% endif %}
            </ul>
            <div class="modal-body p-0">
                <!-- portfolio image -->
                <img class="img-fluid" src="{{ item.data.hero.image }}" alt="{{ item.data.hero.imageAlt }}"
                    loading="lazy">
                <!-- portfolio content -->
                <div class="portfolio-content mt-5">
                    <h3>Overview</h3>
                    <p><span class="strong">Goal:</span> {{ item.data.goal }}</p>
                    <p><span class="strong">What I did:</span> {{ item.data.work }}</p>
                    <p><span class="strong">What I learned:</span> {{ item.data.learned }}</p>
                    <p><span class="strong">Tools:</span> {{ item.data.tools }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
